 
 <form action="/upload" method="POST" id="myFile" enctype="multipart/form-data" style="display:{{display_acc_to_file}}">

       <div class="custom-file mb-3">
         <input type="file" name="file" id="file" class="custom-file-input">
         <label for="file" class="custom-file-label"></label>

       </div>
         <input type="submit" value="upload pic" class="btn btn-primary btn-block">
         <!-- <span id="status"></span>  -->

     </form>